<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <img src="guidify.png" alt="Logo" class="image" />
      <h2 class="title">GUIDIFY API</h2>
      <ul>
        <li><a href="/api/users">Usuarios</a></li>
        <li><a href="/api/roles">Roles</a></li>
        <li><a href="/api/cities">Ciudades</a></li>
        <li><a href="/api/departments">Departamentos</a></li>
        <li><a href="/api/services">Servicios</a></li>
      </ul>
    </div>
    <script src="index.js"></script>
  </body>
</html>
